/*importação de fontes*/
@import url(./font.css);

/* Configuração padrão */
body {
    font-family: 'Outfit';
    padding: 20px;
    background-color: #121212;
    margin: 0;
    display: flex;
    justify-content: center;
  }
  
  .tela {
    display: none;
    margin-top: 50px;
    max-width: 800px;
    width: 100%;
  }
  
  .ativa {
    display: block;
  }

  .title-app{
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: fixed;
      top: 0;
      left: 0;
      padding: 3px 15px;
      text-align: center;
      width: 100%;
      font-size: 12px;
      background-color: #1E1E1E;
      color: white;
      user-select: none;
      box-sizing: border-box;
  }
  
  /* Estilo dos livros */
  .livro {
    display: flex;
    align-items: center;
    background-color: #1E1E1E;
    color: white;
    cursor: pointer;
    padding: 10px;
    gap: 10px;
    margin: 10px 0;
    border-radius: 10px;
    user-select: none;
  }
  
  /* ID do livro em círculo */
  .livro-id {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #BB86FC;
    color: white;
    font-weight: bold;
    margin-right: 10px;
    flex-shrink: 0;
  }
  
  /* Informação do livro */
  .livro-info {
    display: flex;
    flex-direction: column;
  }
  
  .livro h2 {
    margin: 0;
    font-size: 20px;
    color: white;
  }
  
  .livro small {
    color: #777;
    font-size: 15px;
  }
  
  .voltar{
    color: white;
    float: right;
    background-color: #1E1E1E;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    user-select: none;
  }

  .voltar span{
    font-size: 14px;
  }
  
  /* Estilo dos capítulos */
  #titulo-livro{
    margin-top: 10px;
    color: white;
    user-select: none;
  }
  
  /* Grid dos capítulos */
  .capitulos-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
    gap: 10px;
    margin-top: -10px;
    user-select: none;
  }

  .capitulo {
    padding: 20px;
    background-color: #BB86FC;
    color: #121212;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
  }
  
  .capitulo:hover {
    background-color: #03DAC5;
  }

  ::selection{
    background-color: #BB86FC;
    color: #121212;
  }

  #titulo-capitulo{
    color: white;
    margin-top: 10px;
  }
  
  #versiculos{
    color: #ddd;
    font-size: 20px;
  }

  /*search*/  
  #search-input {
    display: none; /* Oculto por padrão */
    position: fixed;
    width: 99%;
    padding: 10px;
    margin: -5px 40px;
    border-radius: 5px;
    border: 1px solid #333;
    outline: none;
    background-color: #121212;
    font-size: 15px;
    color: white;
    box-sizing: border-box;
  }
    
  /* Responsividade */
  /* Para tablets e telas menores */
  @media (max-width: 768px) {
    body {
      padding: 20px;
    }

    #search-input {
      width: 90%;
      margin: auto;
    }

    .tela{
      max-width: 100%;
      margin-top: 45px;
    }
  
    .livro {
      flex-direction: row;
      align-items: center;
    }
  
    .livro-id {
      width: 45px;
      height: 45px;
      font-size: 16px; 
      margin-right: 8px;
    }
  
    .capitulos-grid {
      grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
    }
  
    .capitulo {
      padding: 15px 8px;
      font-size: 20px;
    }
  
    h1 {
      font-size: 22px;
      text-align: center;
    }
  }
  
  /* Para celulares */
  @media (max-width: 480px) {
    body{
      padding: 15px;
    }

    .tela{
      max-width: 100%;
      margin-top: 55px;
    }

    .livro {
      align-items: center;
      padding: 10px;
    }
  
    .livro-id {
      width: 40px;
      height: 40px;
      font-size: 14px;
    }
  
    .capitulos-grid {
      grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
    }
  
    .capitulo {
      font-size: 20px;
      padding: 16px 6px;
    }
    
    .title-app{
      padding: 0 15px;
    }

    .title-app h1 {
      font-size: 25px;
      padding: 0;
    }

    #search-input{
      width: 95%;
      margin: 0 10px;
    }
  }
  